<div class="container mx-auto p-4">

    <div class="flex flex-col mb-4">
        <div class="text-2xl">Create a New Group</div>
        <div class="text-gray-500">Split expenses with friends and family made easy.</div>
    </div>

    <div class="flex flex-col rounded-lg bg-surface-0 border border-gray-300 py-3 px-4" [formGroup]="groupForm">

        <div class="flex flex-col gap-2">
            <label>Group Name</label>
            <input pInputText formControlName="name" autocomplete="off" placeholder="Italy Vacation '24" />
        </div>

        <div class="flex flex-col gap-2 mt-3">
            <label>Add Members</label>
            <div class="flex flex-wrap gap-2">
                @for (item of groupForm.value.members; track $index) {
                <p-chip [label]="item"> 
                    <span class="pi pi-times-circle cursor-pointer" (click)="removeMember(item)"></span>
                </p-chip>
                }
            </div>
            <input type="text" pInputText placeholder="Enter names" (input)="onInput($event)"/>
            <small class="text-gray-500">Use comma to seperate</small>
        </div>

        <div class="flex mt-3">
            <label>Cover Image</label>
        </div>

        <div class="grid gap-4 grid-cols-[repeat(auto-fill,minmax(140px,1fr))] mt-3">
            @for (thumbnail of thumbnails; track $index) {
            <div [class]="groupForm.controls.thumbnail.value==thumbnail ? 'border-primary' : 'border-gray-300'"
                class="h-30 bg-center bg-cover rounded-lg border-2"
                [style]="'background-image: url(assets/thumbnails/'+thumbnail+')'"
                (click)="groupForm.patchValue({thumbnail: thumbnail})"></div>
            }
        </div>

        <div class="w-full border-t border-gray-300 mt-3"></div>

        <div class="flex justify-end mt-3">
            <p-button label="Cancel" variant="text" class="mr-2" routerLink="/dashboard" />
            <p-button label="Create" (click)="createGroup()" [disabled]="groupForm.invalid" />
        </div>

    </div>

</div>