<div class="container mx-auto p-4">

    <div class="flex items-center gap-3 pb-4">
        <img src="assets/logo.png" width="28" alt="Sally Logo" class="logo" />
        <div class="text-xl">Sally</div>
    </div>

    <div class="flex justify-between items-center pb-4">
        <div class="text-2xl">My Groups & Trips</div>
        <p-button routerLink="/dashboard/create-group" icon="pi pi-plus" label="New Group"></p-button>
    </div>

    <div class="grid gap-4 grid-cols-[repeat(auto-fill,minmax(200px,1fr))]">
        @for (item of groups; track $index) {
        <div class="h-80 rounded-lg shadow-sm bg-surface-0 overflow-hidden">
            <div class="h-50 bg-center bg-cover" [style]="'background-image: url(assets/thumbnails/'+ item.thumbnail +');'"></div>
            <div class="h-30 flex flex-col p-3">
                <div class="text-xl">{{item.name}}</div>
                <div class="text-gray-500">{{item.members.length}} Members</div>
                <div class="flex justify-around mt-auto">
                    <p-button label="View" variant="text" [routerLink]="'/dashboard/'+item.id"/>
                    <p-button label="Delete" variant="text" severity="danger" (click)="deleteSallyConfirmPopup($event, item.id)" />
                </div>
            </div>
        </div>
        }
    </div>

    @if (groups.length == 0) {
    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">Add group to get started</div>
    }
</div>