<div class="container">
    <div class="row">
        <div class="col">
            <p-toolbar>
                <div class="my-auto text-2xl">{{sally?.name || 'Dashboard'}} </div>
                <p-button icon="pi pi-pencil" (click)="editName()"></p-button>
            </p-toolbar>
        </div>
    </div>
</div>

@if (!spinner && sally_form && sally) {
    <div class="container">
        @for (member of sally_form.members; track member; let i = $index) {
            <div class="row justify-content-center">
                <div class="col" style="max-width: 550px;">
                    <p-card styleClass="shadow-2">
                        <div class="flex mb-3">
                            <input type="text" pInputText [(ngModel)]="member.name" />
                            @if (sally.members[$index].name != member.name) {
                                <p-button class="ml-2" label="Save name" variant="text" (click)="saveName(member, sally.members[$index])"/>
                                <p-button class="ml-2" label="Cancel" variant="text" severity="danger" (click)="member.name = sally.members[$index].name"/>
                            }@else {
                                <p-button class="ml-auto" variant="text" severity="danger" icon="pi pi-trash" label="Delete person" (click)="deleteMember(member.id)"/>
                            }
                        </div>
                        @for (expense of member.expenses; track expense; let j = $index) {
                            <div class="mb-3">
                                <input class="mr-3" type="text" pInputText placeholder="What ?" [(ngModel)]="expense.name" (ngModelChange)="modelChange(member, sally.members[i])"/>
                                <input class="mr-3" type="number" pInputText placeholder="How much ?" [(ngModel)]="expense.amount" (ngModelChange)="modelChange(member, sally.members[i])"/>
                                @if (expense.id) {
                                    <p-button variant="text" severity="danger" icon="pi pi-trash" (click)="deleteExpense(member, expense)"/>
                                }
                            </div>
                        }
                        <div>
                            <p-button styleClass="w-full" label="Add Expense" (click)="addExpense(member)"/>
                        </div>
                        @if (newExpenses[member.id]) {
                            <div class="mt-3 gap-3 w-full">
                                <p-button styleClass="w-6" label="Save" (click)="saveExpense(member, sally.members[$index])"/>
                                <p-button styleClass="w-6" severity="danger" label="Cancel" (click)="saveExpense(member, sally.members[$index])"/>
                            </div>
                        }
                    </p-card>
                </div>
            </div>
        }
    </div>
}

@if (!spinner && !sally?.members) {
    <div class="centered-axis-xy">Add Members to get started</div>
}

<p-button styleClass="p-button-rounded" class="absolute right-0 bottom-0 m-3" (click)="addMember()" icon="pi pi-plus" label="Add person"></p-button>

@if (spinner) {
    <p-progressSpinner styleClass="w-4rem h-4rem" class="centered-axis-xy" strokeWidth="4" animationDuration=".9s"></p-progressSpinner>
}
