<div class="h-full flex" *ngIf="spinner">
    <p-progressSpinner class="m-auto" styleClass="w-3rem h-3rem" strokeWidth="5"></p-progressSpinner>
</div>

<p-tabMenu *ngIf="!spinner" [model]="tab_items" [activeItem]="activeTabItem" (activeItemChange)="activeTabItem = $event;"></p-tabMenu>

<div class="flex flex-column" *ngIf="!spinner && activeTabItem.label == 'Expenses' ">
    <div #exp class="grid grid-nogutter border-round shadow-2 p-3 m-2" *ngFor="let item of sally?.expenses" (contextMenu)="$event.preventDefault();">
        <label class="col-3">{{item.member}}</label>
        <label class="col-2">{{item.amount}}</label>
        <label class="col-4">{{item.desc}}</label>
        <label class="col-3">{{item.created_at | date :'short'}}</label>
        <p-contextMenu [target]="exp" (onShow)="selectedExpense=item" [model]="items"></p-contextMenu>
    </div>
</div>

<div class="flex flex-column" *ngIf="!spinner && activeTabItem.label == 'Stats'">
    <div class="grid grid-nogutter border-round shadow-2 p-3 m-2" *ngFor="let stat of stats">
        <label class="col">{{stat.member}}</label>
        <label class="col-2">{{stat.amount}}</label>
        <label class="col-2 text-right mx-3">{{stat.amount - totalAmount/(sally?.members?.length || 1)}}</label>
        <i class="col-1 pi" [ngClass]="stat.amount > totalAmount/(sally?.members?.length || 1) ? 'pi-arrow-up': 'pi-arrow-down'"></i>
    </div>
    <div class="grid grid-nogutter border-round shadow-2 p-3 m-2">
        <label class="col">Total</label>
        <label class="col-2">{{totalAmount}}</label>
        <label class="col-2 text-right mx-3">{{totalAmount/(sally?.members?.length || 1)}}</label>
        <i class="col-1 pi pi-user"></i>
    </div>
</div>

<div class="flex flex-column" *ngIf="!spinner && activeTabItem.label == 'Members'">
    <div class="grid grid-nogutter border-round shadow-2 p-3 m-2" *ngFor="let member of sally?.members">
        <label class="col">{{member}}</label>
    </div>
</div>

<!-- Add Expense Dialog -->
<p-dialog header="New Expense" [(visible)]="addExpensePopup" [modal]="true" [style]="{'width' : '350px'}" (onHide)="expense_form.reset()">
    <div class="flex flex-column gap-3" [formGroup]="expense_form">
        <div class="flex flex-column gap-1">
            <label>Name</label>
            <p-dropdown styleClass="w-full" formControlName="member" [options]="sally?.members" appendTo="body"></p-dropdown>
        </div>
        <div class="flex flex-column gap-1">
            <label>Amount</label>
            <p-inputNumber styleClass="w-full" inputId="integeronly" formControlName="amount"></p-inputNumber>
        </div>
        <div class="flex flex-column gap-1">
            <label>Description</label>
            <input pInputText formControlName="desc" />
        </div>
        <p-button class="text-center" label="Create" styleClass="py-2 px-3" (click)="createExpense()" [disabled]="!expense_form.valid" [loading]="popupSpinner"></p-button>
    </div>
</p-dialog>

<!-- Add Member Dialog -->
<p-dialog header="Update Members" [(visible)]="addMemberPopup" [modal]="true" [style]="{'width' : '350px'}">
    <div class="flex flex-column gap-3" [formGroup]="member_form">
        <label>Members</label>
        <p-chips formControlName="members"></p-chips>
        <small>Use enter to add member</small>
        <p-button class="text-center" label="Update" styleClass="py-2 px-3" (click)="updateMembers()" [loading]="popupSpinner"></p-button>
    </div>
</p-dialog>