<p-tabMenu [model]="tab_items" [activeItem]="tab_items[0]" (activeItemChange)="activeTabItem = $event;"></p-tabMenu>

<div class="flex flex-column" *ngIf="activeTabItem.label == 'Expenses' && sally.expenses.length > 0">
    <div class="grid grid-nogutter border-round shadow-2 p-3 m-2" *ngFor="let item of sally.expenses">
        <label class="col-3">{{item.name}}</label>
        <label class="col-2">{{item.amount}}</label>
        <label class="col-4">{{item.reason}}</label>
        <label class="col-3">{{item.time | date :'short'}}</label>
    </div>
</div>

<div class="flex flex-column" *ngIf="activeTabItem.label == 'Stats' && stats_array().length > 0">
    <div class="grid grid-nogutter border-round shadow-2 p-3 m-2" *ngFor="let item of stats_array()">
        <label class="col">{{item.name}}</label>
        <label class="col-2">{{item.amount}}</label>
        <label class="col-2 text-right mx-3">{{(item.amount - (getTotal()/sally.members.length)).toFixed()}} </label>
        <i class="col-1 pi"
            [ngClass]="item.amount > getTotal()/sally.members.length ? 'pi-arrow-up': 'pi-arrow-down' "></i>
    </div>
    <div class="grid grid-nogutter border-round shadow-2 p-3 m-2">
        <label class="col">Total</label>
        <label class="col-2">{{getTotal()}}</label>
        <label class="col-2 text-right mx-3">{{(getTotal()/sally.members.length).toFixed()}}</label>
        <i class="col-1 pi pi-user"></i>
    </div>
</div>

<!-- Add Expense Dialog -->
<p-dialog header="New Expense" [(visible)]="add_expense_popup" [modal]="true" [style]="{'width' : '350px'}">
    <div class="flex flex-column gap-3" [formGroup]="expense_form">
        <div class="flex flex-column gap-1">
            <label>Name</label>
            <p-dropdown styleClass="w-full" formControlName="name" [options]="sally.members"
                appendTo="body"></p-dropdown>
        </div>
        <div class="flex flex-column gap-1">
            <label>Amount</label>
            <p-inputNumber styleClass="w-full" inputId="integeronly" formControlName="amount"></p-inputNumber>
        </div>
        <div class="flex flex-column gap-1">
            <label>Description</label>
            <input pInputText formControlName="reason" />
        </div>
        <p-button class="text-center" label="Create" styleClass="py-2 px-3" (click)="create_expense()" [disabled]="!expense_form.valid"></p-button>
    </div>
</p-dialog>