<div class="p-4">
    <div class="text-3xl">
        Sally: Your Personal Trip Expenses Calculator
    </div>
    <div class="text-lg	mt-3">
        Sally is your trusty companion for managing trip expenses. Whether you're on a vacation with friends, a family outing, or a business trip, Sally has got your back.
    </div>
    <div class="text-lg mt-3">
        Here's what it brings to the table:
        <ul>
            <li>Expense Splitting</li>
            <li>Member Statistics</li>
            <li>Google Authentication</li>
            <li>Adding and Deleting Sallys</li>
            <li>Expense Management</li>
            <li>Sharing Options</li>
        </ul>
    </div>
    <div class="tex-lg">
        Do read our Privacy Policy <a href="/policy">here</a> 
    </div>
    
</div>