<div class="container py-4">
    <div class="row align-items-center justify-content-center">
        <div class="col-auto">
            <img src="/assets/logo.png" width="48">
        </div>
        <div class="col-auto text-6xl">
            Sally
        </div>
        <div class="col-auto">
            <div id="googleLoginButton"></div>
        </div>
    </div>
</div>

<div class="container py-4 text-center">
    <div class="row">
        <div class="col text-2xl">
            Divide expenses for group activities.
        </div>
    </div>
    <div class="row">
        <div class="col text-2xl">
            We'll let you know who owes what and guide you on how to clear the debts within the group.
        </div>
    </div>
</div>

<div class="container py-4">
    <div class="row">
        <div class="col">
            <div class="text-center text-2xl">Why Sally?</div>
            <p>
                Calculating the exact amounts each person owes and the necessary transactions to settle shared expenses can be a complex and tedious task, often requiring spreadsheets. This complexity increases when some community expenses are not shared by everyone (for example, if one friend didn’t join the museum trip paid by another for the group).
            </p>
            <p>
                That's why we created billzer.com, offering an easy, free, fast, and reliable solution to divide group expenses after holidays, parties, shared gifts, festivals, vacations, trips, weddings, road trips, clubs, shared apartments, and more.
            </p>
            <p>
                Everything operates within the browser without needing sign-up or app installation on mobile phones. Our mission is to help groups where everyone has paid some bills avoid arguments and save time once the fun is over.
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-end">
        <div class="col-auto">
            <a class="text-black-alpha-90 mr-3" routerLink="/policy">Privacy</a>
        </div>
        <div class="col-auto">
            <a class="text-black-alpha-90" routerLink="/about">About</a>
        </div>
    </div>
</div>

<p-confirmDialog></p-confirmDialog>