<div class="container">
    <div class="row">
        <div class="col">
            <p-toolbar>
                <div class="my-auto text-2xl">{{sally?.name || 'Dashboard'}} </div>
                <p-button icon="pi pi-pencil" (click)="editName()"></p-button>
            </p-toolbar>
        </div>
    </div>
</div>

@if (!spinner && sally && sally.members) {
    <div class="container" [formGroup]="sallyForm.controls.members">
        @for (member of sallyForm.controls.members.controls; track $index) {
            <div class="row" [formGroupName]="$index">
                <div class="col">
                    <p-card>
                        <div class="mb-3">
                            <input type="text" pInputText formControlName="name" />
                            @if (member.value.name != sally.members[$index].name) {
                                <p-button class="mx-2" label="Save" variant="text" (click)="saveName(member.value.id, member.value.name)"/>
                                <p-button class="mx-2" label="Cancel" variant="text" severity="danger" (click)="member.controls['name'].setValue(sally.members[$index].name)"/>
                            }
                        </div>
                        <div class="mb-3">
                            <input class="mr-3" type="text" pInputText placeholder="What ?" formControlName="expense_name"/>
                            <input type="number" pInputText placeholder="How much ?" formControlName="expense_amount"/>
                        </div>
                        <div>
                            <p-button class="mx-2" label="Add Expense" (click)="addExpense(member)" [disabled]="!member.value.expense_name || !member.value.expense_amount"/>
                        </div>
                    </p-card>
                </div>
            </div>
        }
    </div>
}

@if (!spinner && !sally?.members) {
    <div class="centered-axis-xy">Add Members to get started</div>
}

<p-button styleClass="p-button-rounded" class="absolute right-0 bottom-0 m-3" (click)="addMember()" icon="pi pi-plus" label="Add person"></p-button>

@if (spinner) {
    <p-progressSpinner styleClass="w-4rem h-4rem" class="centered-axis-xy" strokeWidth="4" animationDuration=".9s"></p-progressSpinner>
}

<!-- Add Sally Dialog -->
<!-- <p-dialog header="New Sally" [(visible)]="editSallyPopup" [modal]="true" [style]="{'width' : '350px'}"
    (onHide)="sally_form.patchValue({ name: null })">
    <div class="flex flex-column gap-3" [formGroup]="sally_form">
        <div class="flex flex-column gap-1">
            <label>Name</label>
            <input pInputText formControlName="name" />
        </div>
        <p-button class="text-center" label="Create" styleClass="py-2 px-3" (click)="editName()"
            [disabled]="!sally_form.valid" [loading]="popupSpinner">
        </p-button>
    </div>
</p-dialog> -->