<div class="container p-3">
    <div class="row align-items-center">
        <div class="col">
            <div class="text-3xl">
                {{sally?.name}}
            </div>
        </div>
        <div class="col-auto">
            <p-button icon="pi pi-pencil" variant="outlined" label="Edit name" (click)="openSallyNamePopup()" />
        </div>
    </div>
</div>

@if(sally && sally.members && !spinner) {
    <div class="container p-3">
        @for (member of sally.members; track member; let i = $index) {
        <div class="row justify-content-center">
            <div class="col" style="max-width: 545px;">
                <app-member [member]="member"
                (onUpdateRequest)="getData()"
                (excludeExpensePopup)="excludeExpensesPopup($event)"
                ></app-member>
            </div>
        </div>
        }

        <div class="row justify-content-center">
            <div class="col" style="max-width: 545px;">
                <p-card styleClass="shadow-2">

                    @for (item of stats; track $index) {
                        <div>
                            {{item.from}} to {{item.to}}, Amount: {{item.amount}}
                        </div>
                    }
                </p-card>
            </div>
        </div>
    </div>
}

<p-button styleClass="p-button-rounded" class="fixed right-0 bottom-0 m-3" (click)="openMemberNamePopup()" icon="pi pi-plus" label="Add person"></p-button>


@if (sally && !sally.members && !spinner) {
    <div class="centered-axis-xy">Add Members to get started</div>
}

@if (spinner) {
    <p-progressSpinner styleClass="w-4rem h-4rem" class="centered-axis-xy" strokeWidth="4" animationDuration=".9s"></p-progressSpinner>
}

<p-dialog [header]="popupType=='sally_name' ? 'Edit sally name' : 'Add a person'" [modal]="true" [(visible)]="namePopup" [style]="{ width: '25rem' }" (onHide)="this.name = ''">
    <div class="flex align-items-center gap-4 mb-4">
        <label for="username" class="font-semibold w-24">Name</label>
        <input pInputText id="username" class="flex-auto" autocomplete="off" [(ngModel)]="name" />
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Save" variant="text" (click)="popupType=='sally_name' ? updateSallyName(name) : addMember(name)" />
        <p-button label="Cancel" variant="text" severity="danger" (click)="namePopup = false" />
    </div>
</p-dialog>

<p-confirmPopup #cp>
    <ng-template #headless let-message>
        <div class="container-fluid p-3">
            <div class="row">
                <div class="col">
                    <div>Share this expense</div>
                </div>
            </div>
            @for (member of expenseShared; track $index) {
            <div class="row align-items-center">
                <div class="col-auto">
                    <p-checkbox [(ngModel)]="member.included" binary="true"/>
                </div>
                <div class="col">
                    <label class="ml-2">{{member.name}}</label>
                </div>
            </div>
            }
            <div class="row">
                <div class="col">
                    <p-button styleClass="w-4rem" (onClick)="cp.onAccept()" [loading]="" label="Save" size="small" />
                </div>
                <div class="col">
                    <p-button styleClass="w-4rem" (onClick)="cp.onReject()" label="Cancel" size="small" severity="danger" />
                </div>
            </div>
        </div>
    </ng-template>
</p-confirmPopup>
