<p-toast styleClass="p-2"  [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

<div class="h-full flex flex-column">
    <div class="flex p-3">
        <div class="my-auto text-2xl">{{header?.title}}</div>
        <div class="ml-auto">
            <button *ngIf="header?.home" pButton class="ml-1" icon="pi pi-home" routerLink="/dashboard" style="height: 35px; width: 35px;"></button>
            <button *ngIf="header?.add" pButton class="ml-1" icon="pi pi-plus" style="height: 35px; width: 35px;" (click)="commonService.header_operation.next('add')"></button>
            <button *ngIf="header?.logout" pButton class="ml-1 p-button-danger" icon="pi pi-sign-out"  style="height: 35px; width: 35px;" (click)="logout();"></button>
        </div>
    </div>
    <div class="flex-grow-1">
        <router-outlet></router-outlet>
    </div>
</div>
