<p-toast styleClass="p-2" [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

<div class="h-full flex flex-column" *ngIf="!commonService.spinner">
    <div *ngIf="router.url != '/'" class="flex p-3 bg-gray-900">
        <div class="my-auto text-2xl text-white">{{ router.url == '/dashboard' ? 'Dashboard' : commonService.heading }}</div>
        <div *ngIf="!router.url.includes('sallys')" class="ml-auto">
            <button *ngIf="router.url != '/dashboard'" pButton class="ml-1" icon="pi pi-home" routerLink="/dashboard" style="height: 35px; width: 35px;"></button>
            <button *ngIf="router.url.includes('dashboard/')" pButton class="ml-1" [icon]="true ? 'pi pi-eye-slash': 'pi pi-eye'"  style="height: 35px; width: 35px;" (click)="commonService.togglePrivacy()"></button>
            <button *ngIf="!router.url.includes('policy')" pButton class="ml-1 p-button-danger" icon="pi pi-sign-out"  style="height: 35px; width: 35px;" (click)="supabaseService.signOut()"></button>
        </div>
    </div>
    <div class="flex-grow-1">
        <router-outlet></router-outlet>
    </div>
</div>

<div class="h-full flex h-full" *ngIf="commonService.spinner">
    <p-progressSpinner class="m-auto" styleClass="w-3rem h-3rem" strokeWidth="7" fill="var(--surface-ground)" animationDuration=".9s"></p-progressSpinner>
</div>