<div class="container mx-auto p-4" [formGroup]="expenseForm">

    <div class="flex flex-col py-4">
        <div class="text-2xl">Add a new expense</div>
        <div class="text-gray-500">Enter the details of the expense and select who to split it with.</div>
    </div>

    <div class="flex flex-col rounded-lg bg-surface-0 border border-gray-300 p-4 mb-4">
        <div class="flex flex-col gap-2 mb-4">
            <label>Description</label>
            <input pInputText placeholder="e.g., Dinner with friends" formControlName="description"/>
        </div>
        <div class="flex flex-col gap-2">
            <label>Amount</label>
            <input pInputText type="number" placeholder="0" formControlName="amount"/>
        </div>
    </div>

    <div class="flex flex-col rounded-lg bg-surface-0 border border-gray-300 p-4 mb-4">
        <div class="flex flex-col gap-2 mb-4">
            <label>Paid by</label>
            <p-dropdown [options]="members" optionLabel="name" optionValue="id" placeholder="Select member" formControlName="member_id"></p-dropdown>
        </div>
        <div class="flex flex-col gap-2">
            <div class="flex justify-between">
                <label>Split between</label>
                <div class="text-primary cursor-pointer" (click)="selectAll()">Select all</div>
            </div>
            <div class="grid gap-4 grid-cols-[repeat(auto-fill,minmax(200px,1fr))]">
                @for (member of members; track $index) {
                    <div class="flex items-center rounded-lg border gap-2 p-2 px-3" [class]="member.included ? 'bg-primary-100 border-primary' : 'border-gray-300'">
                        <p-checkbox class="mb-1" [binary]="true" [(ngModel)]="member.included" [ngModelOptions]="{standalone: true}" />
                        <div>{{member.name}}</div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="flex justify-end gap-2">
        <p-button [routerLink]="'/dashboard/'+groupId" variant="text" label="Cancel"></p-button>
        <p-button (click)="addExpense()" label="Add Expense" [disabled]="expenseForm.invalid || !atleastOneMemberIncluded()"></p-button>
    </div>

</div>