<p-card styleClass="shadow-2">
    <div class="flex mb-3">
        <input type="text" pInputText [(ngModel)]="memberCopy.name" />
        @if (member.name != memberCopy.name) {
            <p-button class="ml-2" label="Save name" variant="text" (click)="saveName()"/>
            <p-button class="ml-2" label="Cancel" variant="text" severity="danger" (click)="memberCopy.name = memberCopy.name"/>
        }
    </div>
    @for (expense of memberCopy.expenses; track expense; let index = $index) {
        <div class="mb-3">
            <input class="mr-3" type="text" pInputText placeholder="What ?" [(ngModel)]="expense.name" (ngModelChange)="modelChange()"/>
            <input class="mr-3" type="number" pInputText placeholder="How much ?" [(ngModel)]="expense.amount" (ngModelChange)="modelChange()"/>
            @if (expense.id) {
                <p-button variant="text" icon="pi pi-user" (click)="excludeExpensesPopup($event, expense.excluded, expense.id)"/>
            }
            <p-button variant="text" severity="danger" icon="pi pi-trash" (click)="deletetheExpense(index)"/>
        </div>
    }
    <div class="row align-items-center">
        <div class="col">
            <p-button styleClass="w-full" label="Add Expense" (click)="addTheExpense()"/>
        </div>
        <div class="col-auto">
            <p-button severity="danger" icon="pi pi-trash" label="Delete person" (click)="deleteTheMember()"/>
        </div>
    </div>
    @if (newExpenses.length > 0) {
        <div class="mt-3 gap-3 w-full">
            <p-button styleClass="w-6" label="Save" (click)="updateTheExpenses()"/>
            <p-button styleClass="w-6" severity="danger" label="Cancel" (click)="cancelUpdateExpenses()"/>
        </div>
    }
</p-card>
