<div class="p-2">
    <p-toolbar>
        <div class="p-toolbar-group-start text-2xl">
            Dashboard
        </div>
        <div class="p-toolbar-group-end">
            <button pButton icon="pi pi-plus" style="height: 35px; width: 35px;"
                (click)="add_sally_popup = true;"></button>
        </div>
    </p-toolbar>
</div>

<div class="grid grid-nogutter p-1" *ngIf="data.length > 0">
    <div class="col-12 md:col-6 lg:col-3" *ngFor="let item of data">
        <div class="flex flex-column border-round text-center shadow-2 hover:shadow-4 transition-duration-200 py-3 m-2"
            [routerLink]="item.slug">
            <label class="text-xl font-semibold pb-2">{{item.name}}</label>
            <label>Members: {{item.members.length}}</label>
            <label>Total: {{total(item.expenses)}}</label>
            <label>Per Head: {{(total(item.expenses)/item.members.length).toFixed()}}</label>
        </div>
    </div>
</div>

<!-- Add Sally Dialog -->
<p-dialog header="New Sally" [(visible)]="add_sally_popup" [modal]="true" [style]="{'width' : '350px'}">
    <div class="flex flex-column gap-3" [formGroup]="sally_form">
        <div class="flex flex-column gap-1">
            <label>Name</label>
            <input pInputText formControlName="name" />
        </div>
        <div class="flex flex-column gap-1 p-fluid">
            <label>Members</label>
            <p-chips formControlName="members" separator=" "></p-chips>
            <small>Use Space to sperate</small>
        </div>
        <p-button class="text-center" label="Create" styleClass="py-2 px-3" (click)="create_sally()"
            [disabled]="!sally_form.valid"></p-button>
    </div>
</p-dialog>