<div class="h-full flex" *ngIf="spinner">
    <p-progressSpinner class="m-auto" styleClass="w-3rem h-3rem" strokeWidth="5"></p-progressSpinner>
</div>

<div class="grid grid-nogutter p-1" *ngIf="!spinner && sallys.length > 0">
    <div class="col-12 md:col-6 lg:col-3" *ngFor="let sally of sallys">
        <div class="flex flex-column border-round text-center shadow-2 hover:shadow-4 transition-duration-200 py-3 m-2"
            [routerLink]="sally.id"
            (contextmenu)="$event.preventDefault();selectedSallyId=sally.id;menu.toggle($event);">
            <label class="text-xl font-semibold pb-2">{{sally.name}}</label>
            <label>Members: {{sally.members.length}}</label>
        </div>
    </div>
    <p-menu #menu [model]="items" [popup]="true"></p-menu>
</div>

<!-- Add Sally Dialog -->
<p-dialog header="New Sally" [(visible)]="addSallyPopup" [modal]="true" [style]="{'width' : '350px'}"
    (onHide)="sally_form.patchValue({ name: null, members: [] })">
    <div class="flex flex-column gap-3" [formGroup]="sally_form">
        <div class="flex flex-column gap-1">
            <label>Name</label>
            <input pInputText formControlName="name" />
        </div>
        <div class="flex flex-column gap-1 p-fluid">
            <label>Members</label>
            <p-chips formControlName="members"></p-chips>
            <small>Use enter to add member</small>
        </div>
        <p-button class="text-center" label="Create" styleClass="py-2 px-3" (click)="create_sally()"
            [disabled]="!sally_form.valid" [loading]="popupSpinner">
        </p-button>
    </div>
</p-dialog>