/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";


@font-face {
    font-family: 'rubik';
    src: url('/assets/Rubik.ttf');
}

body, html {
    height: 100%;
    font-family: 'rubik';
    margin: 0px;
    font-size: 15px;
}

.p-toast-message-content {
    align-items: center !important;
}

.centered-axis-xy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}