<div class="flex flex-column h-full">
    <div class="mt-auto text-center">
        <img src="/assets/logo.png" width="128">
    </div>
    <div class="text-3xl mt-4 text-center">
        Welcome to Sally
    </div>
    <div class="text-xl mb-4 text-center">
        Your personal trip finance calculator
    </div>
    <div class="text-center">
        <p-button *ngIf="!commonService.accessToken" styleClass="p-button-rounded" (click)="login()" label="Login with Google" [loading]="spinner"></p-button>
        <p-button *ngIf="commonService.accessToken" styleClass="p-button-rounded" routerLink="/dashboard" label="Dashboard" [loading]="spinner"></p-button>
    </div>
    <div class="mt-auto ml-auto p-3">
        <a class="text-black-alpha-90 mr-3" routerLink="/policy">Privacy</a>
        <a class="text-black-alpha-90" routerLink="/about">About</a>
    </div>
</div>